- now = new Date();
h1 the main page
  ul
    li="Current time: "+now
    li
      a(href='/ejemplo/suma') example page
    li
      a(href='/login') /login redirects here
    li
      a(href='/chpass') change password
    li
      a(href='/logout') logout